*.DS_Store
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
env/
.venv/
.env
credentials
*/site-packages/

# Django specific
*.log
*.pot
media/
local_settings.py
db.sqlite3
staticfiles

# System files
.DS_Store
Thumbs.db

# IDEs and editors
*.swp
*~
.vscode/
.idea/

# Packages
*.egg-info
dist/
build/

# Tests and coverage
tests/coverage_html/
tests/.coverage
*/report/
*/screenshots/

# Ignore vision board images
mirror/static/mirror/vision/*
closet/static/closet/inventory/*
