.top-bar {
  height: 2vh !important;
}

.chat-container {
  margin: 1rem; 
}

#chat-window {
  display: flex;
  height: 92vh;
  flex: 1;
  overflow-y: scroll;
  padding: 1rem;
  flex-direction: column;
  gap: 0.5rem; 
  bottom: 0;
}

.chat-bubble {
  max-width: 75%;
  border-radius: 0.5rem;
  padding: 0.75rem;
}

.chat-bubble.bot {
  align-self: flex-start;
  background: #2a2a2a;
  color: #eee;
  border-top-left-radius: 0;
}
.chat-bubble.user {
  align-self: flex-end;
  flex-direction: row;
  background: #9b59b6;
  color: white;
  border-top-right-radius: 0;
}

#chat-form {
  display: flex;
  flex: 1;
}

button {
 padding: 0.25rem;
 align-self: flex-end;
} 

#btn-mic {
  background-color: black !important;
  color: white !important;
  border: 2px solid white !important;
}

#btn-mic.recording {
  background-color: red !important;
  color: white !important;
  border: 2px solid white !important;
}

#btn-mic:focus,
#btn-mic:active {
  box-shadow: none !important;
  outline: none !important;
}

#thought-bubble {
  position: fixed;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;

  background-color: rgba(60, 60, 60, 0.5);
  border: 5px solid rgba(255, 255, 255, 0.5);
  color: #ccc;
  font-style: italic;
  padding: 8px 16px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);

  width: 70vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;

  opacity: 1;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

#thought-bubble.d-none {
  display: none;
}


#thought-bubble.fade-out {
  opacity: 0;
}
